label {
	float: left;
	clear: both;
	display:block;
	width: 200px;
}
input,select, textarea, button, #cke_body {
	margin-bottom: 10px;
	float:left;
	clear:both;
	padding: 3px;
	border: 1px solid black;
	width: 300px;
}
#cke_body {
	width: 100%;
}
.cke_contents {
	height: 250px !important;
}
input[type="checkbox"] {
	clear: none;
	width: 20px;
	margin: 2px 2px 10px;
}
input[type="submit"], button {
	width: 100px;
}

.floatRight {
	float: right;
}
textarea {
	width: 500px;
}